# Ignorar entornos virtuales de Python
venv/
.venv/

# Ignorar archivos de caché de Python
__pycache__/
*.pyc

# Ignorar directorios de configuración de IDEs
.vscode/
.idea/

# Ignorar el directorio de Git
.git/