annotated-types
anyio
argcomplete
attrs
autocommand
beautifulsoup4
blessed
btrfsutil
build
certifi
cffi
charset-normalizer
click
colorama
cryptography
dbus-python
defusedxml
deprecation
evdev
fastjsonschema
filelock
Glances
h11
httpcore
httpx
hypothesis
idna
iniconfig
inquirer
installer
jaraco.collections
jaraco.context
jaraco.functools
jaraco.text
lark
lensfun
Levenshtein
libfdt
lxml
Mako
Markdown
markdown-it-py
MarkupSafe
mdurl
meson
more-itertools
mov-cli
nftables
OpenTimelineIO
ordered-set
orjson
packaging
platformdirs
pluggy
poetry-core
psutil
pwquality
pyaaf2
pycairo
pycodestyle
pycparser
pydantic
pydantic_core
Pygments
PyGObject
pyinotify
pyproject_hooks
PyQt5
PyQt5_sip
pytest
python-distutils-extra
python-editor
python-xlib
pytubefix
pyudev
pyxdg
PyYAML
ranger-fm
RapidFuzz
Reflector
requests
rich
setuptools
shellingham
shtab
six
sniffio
solaar
sortedcontainers
soupsieve
speedtest-cli
TBB
termcolor
thefuzz
tldr
toml
tomli
tqdm
trove-classifiers
typer
typing-inspection
typing_extensions
uc-micro-py
ufw
ulauncher
Unidecode
urllib3
urwid
validate-pyproject
wcwidth
websocket-client
wheel
wxPython